@import "./variables.scss";



.calculator {

    .test {
        position: absolute;
        top: 100px;
        left: -175px;
        background: red;
        height: 100px;
        width: 150px;
    }

    width: 320px;
    position: relative;
    box-shadow: 0px 0px 20px 0px #aaa;
    border-radius: 20px;

    .left-keys {
        float: left;
        width: 240px;
        height: 100%;
    }

    .right-keys {
        float: right;
    }

    .calculator-key {
        display: block;
        background: none;
        border: none;
        padding: 0;
        width: 80px;
        height: 80px;


        border-top: 1px solid #777;
        border-right: 1px solid #666;
        text-align: center;
        line-height: 80px;
        color: #FFF;
        font-size: 2rem;

        &:hover {
            background: $orange !important;
            cursor: pointer;
        }

        &:active {
            box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, 0.25);
        }
    }
}