.navbar {
  padding: 0;

  height: 50px;

  .navbar-brand {
   margin: 0;
   height: 50px;
   display: flex;
   align-items: center;
   padding: 0 10px
  }
  .nav-link {

    height: 50px;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active {
    background: lighten(#343a40, 10%);
  }
}


