$green: #066C1F;

.container {
  padding: 50px 0;

  .block {
    background: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  }

  input {
    border:none;
    border-bottom: 1px solid $green;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }

  

  .btn {
    background: $green;
    border: none;
    border-radius:0;
    width: 100px;
    &:hover {
      background: lighten($green, 10%);
    }
  }

  .card {
    border:none;
  }
}





