
.weekdayLabels .weeklyLabel {
    width: 100px;
    height: 50px;
    padding: 12px;
    display: inline-block;
    text-align: center;
    background: blue;
    color: #FFF;
}


.weekdays div {
 
    display: inline-block;
    text-align: center;
}

.date {
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 12px;
}

.current {
    background: blue;
    color: #FFF;
}