@import "../../variables.scss";

.result {
  position: relative;
  .resultText {
    margin-bottom: 20px;
    text-align:left;
  }
  .playAgain {
    margin: 20px;
    border: none;
    background: $red;
    box-shadow: 0 2px 0px 0 darken($red, 20%);
    color: #FFF;
    border-radius: 5px;
    height:40px;
    display: block;
    margin: 0px;
    padding: 10px;
    &:hover {
      cursor: pointer;
      background: lighten($red, 20%);
    }
    &:active {
  
      top: 2px;
      box-shadow: none;
    }
  }
}

